
<div class="header">
   <div class="header1">
      <div class="header_img">
         {{!-- <a href="/"> <img src="../../public/Bharti/images/2.avif" class="logo" alt="sdas   "></a> --}}
      </div>
      <div class="header_center"><h1>Javascript Applications  </h1></div>
      <div class="header_sec">


           {{#if auth}}
           <a href="/logout">Logout</a>
           <a href="/book">{{z}}</a>
           {{!-- <a href="/book">{{}}</a> --}}
            <a href="https://github.com/Bharti-Javascriptt" class="ba">Source Code </a>

           {{!-- <a href="/secret">Home</a> --}}
          {{else}}
           <a href="/">Sign Up</a>
           <a href="/login">Login</a>
         <a href="/">Source Code</a>
                    {{!-- <a href="/book">{{first}}</a> --}}



          {{/if}}
          {{!-- <a href="/secret" class="ba">Secret</a> --}}
         {{!-- //??? --}}
           
     {{!-- {{#if first}}
     <a href="/signup" class="ba">{{first}} </a>
     {{else}}
      <a href="/signup" class="ba">Home</a>
     {{/if}} --}}




   </div>
   </div>
    {{!-- Mustard(todo) dfdf --}}
    {{!-- //??? --}}
    {{!-- ToDo dkfds --}}


</div>

